{
  "presets": [
    ["env", { "modules": false }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "lance-gg": "./node_modules/lance-gg/dist/server/lance-gg"
      }
    }]
  ]
}
